doctype html  
html(lang='en')  
head
  title Drag Race Fantasy League
  link(rel='stylesheet', href='./index.stylus')
  script(src='./index.js')
body
  h1 KimicalBurn's Jank-ass Drag Race Fantasy League
  ul
    each competitor in data
      li data["Email Address"]
