doctype html  
html(lang='en')  
head
  title Drag Race Fantasy League
  link(rel='stylesheet', href='./index.stylus')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
body
  h1 KimicalBurn's Jank-ass Drag Race Fantasy League

  #app {{ message }}
  scoreboard

  script(src='./index.js')